@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
	font-family: "Outfit", sans-serif;

	--font-weight-regular: 400;
	--font-weight-bold: 700;

	--color-white: hsl(0, 0%, 100%);
	--color-blue-gray: hsl(220, 15%, 55%);
	--color-blue-dark: hsl(218, 44%, 22%);
	--color-light-gray: hsl(212, 45%, 89%);
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--color-light-gray);
}

p {
	font-size: 15px;
}

h4 {
  
}

/* media query */
/* 
- Mobile: 375px
- Desktop: 1440px
*/
